venv
.idea
__pycache__
.vscode
yolo/old/weights/*
yolo/weights/*
precomputed/videos/*
video/*
images/*
*.jpg
*.avi
.DS_Store
precomputed/features/*
precomputed/featuresLSTM/*
tensors.pkl
/tensors.pkl
